<div class="container my-5">
  <div class="col-12 my-5">
    <h2 class="fs-1 border-bottom">Products Showcase</h2>
  </div>
  <div class="row my-2">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <!-- card image -->
      <div class="">
        <img
          src="https://bellroy-product-images.imgix.net/bellroy_dot_com_gallery_image/EUR/WCSA-GLA-101/0?w=730&h=487&fit=clip&dpr=2&q=37&auto=format"
          alt=""
          class="img-fluid"
        />
      </div>
      <!-- card text -->
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Wallet</strong>
          <h3 class="mb-0">Card Sleeve</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    <!-- end card -->

    <!-- card -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div>
        <img
          src="https://bellroy-product-images.imgix.net/bellroy_dot_com_gallery_image/EUR/GDNB-LST-505/0?w=730&h=487&fit=clip&dpr=2&q=37&auto=format"
          alt=""
          class="img-fluid"
        />
      </div>
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    <!-- end card -->
    <!-- card -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div>
        <img
          src="https://bellroy-product-images.imgix.net/bellroy_dot_com_gallery_image/EUR/BCPB-BLK-215/0?w=730&h=487&fit=clip&dpr=2&q=37&auto=format"
          alt=""
          class="img-fluid"
        />
      </div>
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-warning">Backpack</strong>
          <h3 class="mb-0">Classic Backpack Plus</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
