<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Our Value</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <!-- col -->
    <div class="col d-flex align-items-start">
      <div class="icon-square text-dark flex-shrink-0 me-3">
        <i class="fa-solid fa-hand-fist fa-2x"></i>
      </div>
      <div>
        <h2>Handmade</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a href="#" class="btn btn-primary"> Primary button </a>
      </div>
    </div>
    <!-- end col -->
    <div class="col d-flex align-items-start">
      <div class="icon-square text-dark flex-shrink-0 me-3">
        <i class="fa-solid fa-clipboard-check fa-2x"></i>
      </div>
      <div>
        <h2>Premium Material</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a href="#" class="btn btn-primary"> Primary button </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <i class="fa-solid fa-euro-sign fa-2x"></i>
      </div>
      <div>
        <h2>Concorrencial Price</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a href="#" class="btn btn-primary"> Primary button </a>
      </div>
    </div>
  </div>
</div>
