<section id="featurette" class="marketing my-5">
  <div class="container">
    <div class="col-12">
      <h2 class="fs-1">Our most loved feature</h2>
    </div>
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2 class="featurette-heading fs-2">
          Environment Friendly
          <br />
          <span class="text-muted fs-3">It’ll blow your mind.</span>
        </h2>
        <p class="lead fs-3">
          Some great placeholder content for the first featurette here. Imagine
          some exciting prose here.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../assets/img/undraw_environment_iaus.svg"
          alt=""
          class="img-fluid w-50"
        />
      </div>
    </div>
    <hr class="featurette-divider my-5" />
    <!-- 2 -->
    <div class="row featurette">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../assets/img/undraw_deliveries_2r4y.svg"
          alt=""
          class="img-fluid w-50"
        />
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2 class="featurette-heading fs-1">
          Fast delivery
          <br />
          <span class="text-muted fs-2">It’ll blow your mind.</span>
        </h2>
        <p class="lead fs-3">
          Some great placeholder content for the first featurette here. Imagine
          some exciting prose here.
        </p>
      </div>
    </div>
    <hr class="featurette-divider my-5" />
    <!-- 3 -->
    <div class="row featurette">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2 class="featurette-heading fs-1">
          H24 assistance
          <br />
          <span class="text-muted fs-2">It’ll blow your mind.</span>
        </h2>
        <p class="lead fs-3">
          Some great placeholder content for the first featurette here. Imagine
          some exciting prose here.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../assets/img/undraw_ask_me_anything_re_x7pm.svg"
          alt=""
          class="img-fluid w-50"
        />
      </div>
    </div>
    <hr class="featurette-divider my-5" />
  </div>
</section>
