#headline {
  background-image: url("https://images.unsplash.com/photo-1620774825050-04e8f68f2380?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
  background-size: cover;
  background-position: center;
}
