<div
  class="position-relative overflow-hidden text-center bg-light"
  id="headline"
>
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Leather accessories</h1>
    <p class="lead fw-normal">
      And an even wittier subheading to boot. Jumpstart your marketing efforts
      with this example based on Apple’s marketing pages.
    </p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div
    class="product-device product-device-2 shadow-sm d-none d-md-block"
  ></div>
</div>

<div class="container">
  <div class="row">
    <app-categories></app-categories>
  </div>
</div>

<!-- product container -->
<div class="container">
  <div class="col-12 mt-3">
    <h2>Products</h2>
    <hr />
  </div>
  <div class="row g-5 my-3">
    <app-product-card
      class="col-sm-12 col-md-6 col-lg-4"
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>
  </div>
</div>
