<section id="jumbo" class="">
  <div class="container py-5">
    <div class="row">
      <div class="col-6">
        <h1 class="display-5 fw-bold mt-3">Dan ecommerce</h1>
        <p class="fs-4 text-muted">
          Welcome to Dan's leather shop, the best leather products in the
          market.
        </p>
        <button
          class="btn btn-primary btn-lg mt-3"
          type="button"
          routerLink="/products"
        >
          Browse all products
        </button>
      </div>
      <div class="col-6 pt-3">
        <img
          src="../../assets/img/undraw_product_tour_re_8bai (1).svg"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
